{% extends "base/base.html" %}

{% block title %}
  Detalles del Alergia
{% endblock title %}

{% block content %}
  <h2>{{ estadio.nombre }}</h2>
  <p>Esta es la alergia '{{ alergia.nombre }}' que pertenece al Empleado '{{ alergia.empleado.id }}'.</p>
  <a href="{% url 'core:list_alergia' %}" class="btn btn-secondary">Volver a la lista de Alergia</a>
{% endblock content %}
