{% extends "base/base.html" %}

{% block title %}
  Detalles del Puesto
{% endblock title %}

{% block content %}
  <h2>{{ puesto.nombre }}</h2>
  <p>Este es el Puesto{{ puesto.nombre }}.</p>
  <a href="{% url 'core:list_puesto' %}" class="btn btn-secondary">Volver a la lista de Puestos</a>
{% endblock content %}
