{% extends "base/base.html" %}

{% block title %}
  Lista de Puestos
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <a href="{% url 'core:create_puesto' %}" class="btn btn-success">Crear Puesto</a>
      {% for puesto in Puestos %}
        <tr>
          <td>{{ puesto.id }}</td>
          <td>{{ puesto.nombre }}</td>
          <td>{{ puesto.descripcion }}</td>
          <td>
            <a href="{% url 'core:detail_puesto' puesto.id %}" class="btn btn-info">Detalles</a>
            <a href="{% url 'core:update_puesto' puesto.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'core:delete_puesto' puesto.id %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
